body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

.backicon {



}

.logo {
	position: relative;
	margin: 50px 50px 0 0;
	top: 0;
}

.logosize{
	height:50px;
}

.iconinfo {



}